﻿@{
    ViewData["Title"] = "Home Page";
}

@section css {
    <link rel="stylesheet" href="~/assets/css/blog.css">
}

<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>
                @ViewData["ContentTitle"]
                <small class="text-muted">Welcome to Sample Application</small>
            </h2>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
            <ul class="breadcrumb float-md-right">
                <li class="breadcrumb-item"><a href="javascript:void(0);"><i class="zmdi zmdi-home"></i> Home</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-11">
                            <div class="form-group">
                                <div class="form-line">
                                    <textarea rows="1" id="txtPost" class="form-control no-resize auto-growth" placeholder="Post Something...."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-1 my-auto">
                            <button type="button" class="btn btn-raised btn-primary waves-effect" onclick="PostMessageContent()">Post</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="blog-page">
    <div class="container-fluid">
        <div class="row" id="PostUserList">
        </div>
    </div>
</section>
@section scripts {
    <script src="~/assets/plugins/autosize/autosize.js"></script> <!-- Autosize Plugin Js -->
    <script src="~/assets/js/humanizedtimespan.js"></script>
    <script src="~/assets/js/DevScripts/HomeScript.js"></script>
}
