﻿ 
@{
    Layout = null;
}

<!doctype html>
<html class="no-js " lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">

    <title>@ViewData["Title"] - PracticeMVC</title>

    <environment include="Development">
        <!-- Favicon-->
        <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
        <!-- Custom Css -->
        <link rel="stylesheet" href="~/assets/css/main.css">
        <link rel="stylesheet" href="~/assets/css/color_skins.css">
        <link href="~/assets/plugins/animate-css/animate.css" rel="stylesheet" />

        <link href="~/assets/css/jquery.toast.min.css" rel="stylesheet" />

    </environment>
</head>
<body class="theme-orange">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <p>Please wait...</p>
        </div>
    </div>

    <div class="container-fluid" style="padding-right: 15px; padding-left: 15px;">
        <div class="row">
            <div class="d-none d-md-block d-lg-block d-xl-block col-md-5 col-lg-7 l-slategray" style="min-height: 100vh;">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-5 my-auto px-lg-5">
                <h2 class="text-center mb-5">
                    SAMPLE APPLICATION
                </h2>

                <div class="card">
                    <div class="header">
                        <h2> LOGIN CREDENTIALS </h2>
                    </div>
                    <div class="body">
                        <form>
                            <div class="divCimno py-3 px-3">
                                <label for="email_address">CIM NO#</label>
                                <div class="form-group">
                                    <div class="form-line cimno">
                                        <input type="text" id="txtcimno" class="form-control" placeholder="Enter your cim no#" onchange="ValidateLoginValue(this, 1);">
                                    </div>
                                </div>
                            </div>
                            <div class="divPassword py-3 px-3">
                                <label for="password">PASSWORD</label>
                                <div class="row">
                                    <div class="col-10">
                                        <div class="form-group">
                                            <div class="form-line password">
                                                <input type="password" id="txtpassword" class="form-control" placeholder="Enter your password" onchange="ValidateLoginValue(this, 2);">
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col-1 pt-5">
                                        <a href="#" onclick="ShowPassword()"><i class="material-icons">remove_red_eye</i></a>
                                    </div>
                                </div>
                                
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-12 text-right"><button type="button" class="btn btn-raised btn-primary m-t-15 px-4 waves-effect" onclick="LoginAccount()">LOGIN</button></div>
                            </div>

                        </form>
                    </div>
                </div>

                <div class="row" style="position: fixed; bottom: 0;">
                    <div class="col-12">
                        <p class="text-center">
                            Copyright @@2017 | Designed With by <a href="#" style="color:#000;">Your Company Name</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <environment include="Development">
        <!-- Jquery Core Js -->
        <script src="~/assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
        <script src="~/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->

        <script src="~/assets/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->

        <script src="~/assets/bundles/jquery.toast.min.js"></script>

        <!-- Dev Scripts -->
        <script src="~/assets/js/DevScripts/LoginScripts.js"></script>

        <script src="~/assets/js/jquerysession.js"></script>
    </environment>
</body>

</html>