.theme-purple .profile-page .profile-sub-header .box-list ul li a:hover, .theme-purple .menu > ul > li > ul.normal-sub > li a:hover, .theme-purple .menu > ul > li > ul > li > ul > li a:hover {
    background-color: #9c27b0
}

.theme-purple .navbar-brand {
    color: #fff
}

    .theme-purple .navbar-brand:hover, .theme-purple .navbar-brand:active, .theme-purple .navbar-brand:focus {
        color: #fff
    }

.theme-purple .navbar {
    background-color: #9c27b0
}

.theme-purple .nav > li > a {
    color: #fff
}

    .theme-purple .nav > li > a:hover, .theme-purple .nav > li > a:focus {
        background-color: transparent
    }

.theme-purple .nav .open > a {
    background-color: transparent
}

    .theme-purple .nav .open > a:hover, .theme-purple .nav .open > a:focus {
        background-color: transparent
    }

.theme-purple .bars {
    color: #fff
}

.theme-purple .sidebar .menu .list li.active {
    background-color: transparent
}

    .theme-purple .sidebar .menu .list li.active > :first-child i, .theme-purple .sidebar .menu .list li.active > :first-child span {
        color: #9c27b0
    }

.theme-purple .sidebar .menu .list .toggled, .theme-purple .sidebar .menu .list .ml-menu {
    background-color: #f6f6f6;
    border-left: 3px solid;
    border-bottom: none;
    border-top: none;
    border-color: #9c27b0
}

.theme-purple .inbox-widget .inbox-inner:hover .inbox-img img {
    border: 2px solid #9c27b0;
    transition: all 150ms linear
}

.theme-purple .nav-tabs .nav-link.active {
    border-bottom: 1px solid #9c27b0 !important;
    color: #9c27b0 !important;
    font-weight: 700
}

.theme-purple .blog-page .single-blog-post .img-holder .date-box {
    background-color: #9c27b0
}

.theme-blue .profile-page .profile-sub-header .box-list ul li a:hover, .theme-blue .menu > ul > li > ul.normal-sub > li a:hover, .theme-blue .menu > ul > li > ul > li > ul > li a:hover {
    background-color: #2196f3
}

.theme-blue .navbar-brand {
    color: #fff
}

    .theme-blue .navbar-brand:hover, .theme-blue .navbar-brand:active, .theme-blue .navbar-brand:focus {
        color: #fff
    }

.theme-blue .navbar {
    background-color: #2196f3
}

.theme-blue .nav > li > a {
    color: #fff
}

    .theme-blue .nav > li > a:hover, .theme-blue .nav > li > a:focus {
        background-color: transparent
    }

.theme-blue .nav .open > a {
    background-color: transparent
}

    .theme-blue .nav .open > a:hover, .theme-blue .nav .open > a:focus {
        background-color: transparent
    }

.theme-blue .bars {
    color: #fff
}

.theme-blue .sidebar .menu .list li.active {
    background-color: transparent
}

    .theme-blue .sidebar .menu .list li.active > :first-child i, .theme-blue .sidebar .menu .list li.active > :first-child span {
        color: #2196f3
    }

.theme-blue .sidebar .menu .list .toggled, .theme-blue .sidebar .menu .list .ml-menu {
    background-color: #f6f6f6;
    border-left: 3px solid;
    border-bottom: none;
    border-top: none;
    border-color: #2196f3
}

.theme-blue .inbox-widget .inbox-inner:hover .inbox-img img {
    border: 2px solid #2196f3;
    transition: all 150ms linear
}

.theme-blue .nav-tabs .nav-link.active {
    border-bottom: 1px solid #2196f3 !important;
    color: #2196f3 !important;
    font-weight: 700
}

.theme-blue .blog-page .single-blog-post .img-holder .date-box {
    background-color: #2196f3
}

.theme-cyan .profile-page .profile-sub-header .box-list ul li a:hover, .theme-cyan .menu > ul > li > ul.normal-sub > li a:hover, .theme-cyan .menu > ul > li > ul > li > ul > li a:hover {
    background-color: #00bcd4
}

.theme-cyan .navbar-brand {
    color: #fff
}

    .theme-cyan .navbar-brand:hover, .theme-cyan .navbar-brand:active, .theme-cyan .navbar-brand:focus {
        color: #fff
    }

.theme-cyan .navbar {
    background-color: #00bcd4
}

.theme-cyan .nav > li > a {
    color: #fff
}

    .theme-cyan .nav > li > a:hover, .theme-cyan .nav > li > a:focus {
        background-color: transparent
    }

.theme-cyan .nav .open > a {
    background-color: transparent
}

    .theme-cyan .nav .open > a:hover, .theme-cyan .nav .open > a:focus {
        background-color: transparent
    }

.theme-cyan .bars {
    color: #fff
}

.theme-cyan .sidebar .menu .list li.active {
    background-color: transparent
}

    .theme-cyan .sidebar .menu .list li.active > :first-child i, .theme-cyan .sidebar .menu .list li.active > :first-child span {
        color: #00bcd4
    }

.theme-cyan .sidebar .menu .list .toggled, .theme-cyan .sidebar .menu .list .ml-menu {
    background-color: #f6f6f6;
    border-left: 3px solid;
    border-bottom: none;
    border-top: none;
    border-color: #00bcd4
}

.theme-cyan .inbox-widget .inbox-inner:hover .inbox-img img {
    border: 2px solid #00bcd4;
    transition: all 150ms linear
}

.theme-cyan .nav-tabs .nav-link.active {
    border-bottom: 1px solid #00bcd4 !important;
    color: #00bcd4 !important;
    font-weight: 700
}

.theme-cyan .blog-page .single-blog-post .img-holder .date-box {
    background-color: #00bcd4
}

.theme-black .profile-page .profile-sub-header .box-list ul li a:hover, .theme-black .menu > ul > li > ul.normal-sub > li a:hover, .theme-black .menu > ul > li > ul > li > ul > li a:hover {
    background-color: #181a1b
}

.theme-black .navbar-brand {
    color: #fff
}

    .theme-black .navbar-brand:hover, .theme-black .navbar-brand:active, .theme-black .navbar-brand:focus {
        color: #fff
    }

.theme-black .navbar {
    background-color: #181a1b
}

.theme-black .nav > li > a {
    color: #fff
}

    .theme-black .nav > li > a:hover, .theme-black .nav > li > a:focus {
        background-color: transparent
    }

.theme-black .nav .open > a {
    background-color: transparent
}

    .theme-black .nav .open > a:hover, .theme-black .nav .open > a:focus {
        background-color: transparent
    }

.theme-black .bars {
    color: #fff
}

.theme-black .sidebar .menu .list li.active {
    background-color: transparent
}

    .theme-black .sidebar .menu .list li.active > :first-child i, .theme-black .sidebar .menu .list li.active > :first-child span {
        color: #160c5d;
    }

.theme-black .sidebar .menu .list .toggled, .theme-black .sidebar .menu .list .ml-menu {
    background-color: #f6f6f6;
    border-left: 3px solid;
    border-bottom: none;
    border-top: none;
    border-color: #160c5d;
}

.theme-black .sidebar .user-info {
    /*background: url(../../assets/images/black_profile_bg.jpg) no-repeat no-repeat*/
    background:#181a1b;
}

.theme-black .inbox-widget .inbox-inner:hover .inbox-img img {
    border: 2px solid #181a1b;
    transition: all 150ms linear
}

.theme-black .nav-tabs .nav-link.active {
    border-bottom: 1px solid #181a1b !important;
    color: #181a1b !important;
    font-weight: 700
}

.theme-black .blog-page .single-blog-post .img-holder .date-box {
    background-color: #181a1b
}

.theme-black .notify .heartbit {
    border-color: #26c6da
}

.theme-black .notify .point {
    background-color: #26c6da
}

.theme-deep-purple .profile-page .profile-sub-header .box-list ul li a:hover, .theme-deep-purple .menu > ul > li > ul.normal-sub > li a:hover, .theme-deep-purple .menu > ul > li > ul > li > ul > li a:hover {
    background-color: #673ab7
}

.theme-deep-purple .navbar-brand {
    color: #fff
}

    .theme-deep-purple .navbar-brand:hover, .theme-deep-purple .navbar-brand:active, .theme-deep-purple .navbar-brand:focus {
        color: #fff
    }

.theme-deep-purple .navbar {
    background-color: #673ab7
}

.theme-deep-purple .nav > li > a {
    color: #fff
}

    .theme-deep-purple .nav > li > a:hover, .theme-deep-purple .nav > li > a:focus {
        background-color: transparent
    }

.theme-deep-purple .nav .open > a {
    background-color: transparent
}

    .theme-deep-purple .nav .open > a:hover, .theme-deep-purple .nav .open > a:focus {
        background-color: transparent
    }

.theme-deep-purple .bars {
    color: #fff
}

.theme-deep-purple .sidebar .menu .list li.active {
    background-color: transparent
}

    .theme-deep-purple .sidebar .menu .list li.active > :first-child i, .theme-deep-purple .sidebar .menu .list li.active > :first-child span {
        color: #fec60a
    }

.theme-deep-purple .sidebar .menu .list .toggled, .theme-deep-purple .sidebar .menu .list .ml-menu {
    background-color: #f6f6f6;
    border-left: 3px solid;
    border-bottom: none;
    border-top: none;
    border-color: #fec60a
}

.theme-deep-purple .sidebar .user-info {
    background: url(../../assets/images/deep_purple_profile_bg.jpg) no-repeat no-repeat
}

    .theme-deep-purple .sidebar .user-info .info-container {
        color: inherit
    }

.theme-deep-purple .inbox-widget .inbox-inner:hover .inbox-img img {
    border: 2px solid #673ab7;
    transition: all 150ms linear
}

.theme-deep-purple .nav-tabs .nav-link.active {
    border-bottom: 1px solid #673ab7 !important;
    color: #673ab7 !important;
    font-weight: 700
}

.theme-deep-purple .blog-page .single-blog-post .img-holder .date-box {
    background-color: #673ab7
}

.theme-deep-purple .notify .heartbit {
    border-color: #fec60a
}

.theme-deep-purple .notify .point {
    background-color: #fec60a
}

.theme-red .profile-page .profile-sub-header .box-list ul li a:hover, .theme-red .menu > ul > li > ul.normal-sub > li a:hover, .theme-red .menu > ul > li > ul > li > ul > li a:hover {
    background-color: #f34167
}

.theme-red .navbar-brand {
    color: #fff
}

    .theme-red .navbar-brand:hover, .theme-red .navbar-brand:active, .theme-red .navbar-brand:focus {
        color: #fff
    }

.theme-red .navbar {
    background-color: #f34167
}

.theme-red .nav > li > a {
    color: #fff
}

    .theme-red .nav > li > a:hover, .theme-red .nav > li > a:focus {
        background-color: transparent
    }

.theme-red .nav .open > a {
    background-color: transparent
}

    .theme-red .nav .open > a:hover, .theme-red .nav .open > a:focus {
        background-color: transparent
    }

.theme-red .bars {
    color: #fff
}

.theme-red .sidebar .menu .list li.active {
    background-color: transparent
}

    .theme-red .sidebar .menu .list li.active > :first-child i, .theme-red .sidebar .menu .list li.active > :first-child span {
        color: #27213b
    }

.theme-red .sidebar .menu .list .toggled, .theme-red .sidebar .menu .list .ml-menu {
    background-color: #f6f6f6;
    border-left: 3px solid;
    border-bottom: none;
    border-top: none;
    border-color: #27213b
}

.theme-red .sidebar .user-info {
    background: url(../../assets/images/red_profile_bg.jpg) no-repeat no-repeat
}

.theme-red .inbox-widget .inbox-inner:hover .inbox-img img {
    border: 2px solid #f34167;
    transition: all 150ms linear
}

.theme-red .nav-tabs .nav-link.active {
    border-bottom: 1px solid #f34167 !important;
    color: #f34167 !important;
    font-weight: 700
}

.theme-red .blog-page .single-blog-post .img-holder .date-box {
    background-color: #f34167
}

.theme-red .notify .heartbit {
    border-color: #27213b
}

.theme-red .notify .point {
    background-color: #27213b
}

.theme-green .profile-page .profile-sub-header .box-list ul li a:hover, .theme-green .menu > ul > li > ul.normal-sub > li a:hover, .theme-green .menu > ul > li > ul > li > ul > li a:hover {
    background-color: #4CAF50
}

.theme-green .navbar-header {
    background: #263238
}

.theme-green .navbar-brand {
    color: #fff;
    font-weight: 700
}

    .theme-green .navbar-brand:hover, .theme-green .navbar-brand:active, .theme-green .navbar-brand:focus {
        color: #fff
    }

.theme-green .navbar {
    background-color: #fff
}

.theme-green .nav > li > a {
    color: #263238
}

    .theme-green .nav > li > a:hover, .theme-green .nav > li > a:focus {
        background-color: transparent
    }

.theme-green .nav .open > a {
    background-color: transparent
}

    .theme-green .nav .open > a:hover, .theme-green .nav .open > a:focus {
        background-color: transparent
    }

.theme-green .bars {
    color: #4CAF50
}

.theme-green .sidebar .user-info {
    background: linear-gradient(45deg, #4CAF50, #90e878)
}

.theme-green .sidebar .menu .list li.active {
    background-color: transparent
}

    .theme-green .sidebar .menu .list li.active > :first-child i, .theme-green .sidebar .menu .list li.active > :first-child span {
        color: #4CAF50
    }

.theme-green .sidebar .menu .list .toggled, .theme-green .sidebar .menu .list .ml-menu {
    background-color: #f6f6f6;
    border-left: 3px solid;
    border-bottom: none;
    border-top: none;
    border-color: #4CAF50
}

.theme-green .inbox-widget .inbox-inner:hover .inbox-img img {
    border: 2px solid #4CAF50;
    transition: all 150ms linear
}

.theme-green .nav-tabs .nav-link.active {
    border-bottom: 1px solid #4CAF50 !important;
    color: #4CAF50 !important;
    font-weight: 700
}

.theme-green .blog-page .single-blog-post .img-holder .date-box {
    background-color: #4CAF50
}

.theme-green .notify .heartbit {
    border-color: #4CAF50
}

.theme-green .notify .point {
    background-color: #4CAF50
}

.theme-orange .profile-page .profile-sub-header .box-list ul li a:hover, .theme-orange .menu > ul > li > ul.normal-sub > li a:hover, .theme-orange .menu > ul > li > ul > li > ul > li a:hover {
    background-color: #ffc100
}

.theme-orange .navbar-header {
    background: #263238
}

.theme-orange .navbar-brand {
    color: #fff;
    font-weight: 700
}

    .theme-orange .navbar-brand:hover, .theme-orange .navbar-brand:active, .theme-orange .navbar-brand:focus {
        color: #fff
    }

.theme-orange .navbar {
    background-color: #fff
}

.theme-orange .nav > li > a {
    color: #263238
}

    .theme-orange .nav > li > a:hover, .theme-orange .nav > li > a:focus {
        background-color: transparent
    }

.theme-orange .nav .open > a {
    background-color: transparent
}

    .theme-orange .nav .open > a:hover, .theme-orange .nav .open > a:focus {
        background-color: transparent
    }

.theme-orange .bars {
    color: #ffc100
}

.theme-orange .sidebar .user-info {
    background: linear-gradient(45deg, #ffc100, #ffe700)
}

    .theme-orange .sidebar .user-info .info-container {
        color: inherit
    }

.theme-orange .sidebar .menu .list li.active {
    background-color: transparent
}

    .theme-orange .sidebar .menu .list li.active > :first-child i, .theme-orange .sidebar .menu .list li.active > :first-child span {
        color: #ffc100
    }

.theme-orange .sidebar .menu .list .toggled, .theme-orange .sidebar .menu .list .ml-menu {
    background-color: #f6f6f6;
    border-left: 3px solid;
    border-bottom: none;
    border-top: none;
    border-color: #ffc100
}

.theme-orange .inbox-widget .inbox-inner:hover .inbox-img img {
    border: 2px solid #ffc100;
    transition: all 150ms linear
}

.theme-orange .nav-tabs .nav-link.active {
    border-bottom: 1px solid #ffc100 !important;
    color: #ffc100 !important;
    font-weight: 700
}

.theme-orange .blog-page .single-blog-post .img-holder .date-box {
    background-color: #ffc100
}

.theme-orange .notify .heartbit {
    border-color: #ffc100
}

.theme-orange .notify .point {
    background-color: #ffc100
}

.theme-orange .authentication {
    background: url(../images/orange_loginbg.jpg) no-repeat center center fixed
}

    .theme-orange .authentication .card .header {
        background: linear-gradient(45deg, #ffc100, #ffe700)
    }

.theme-blush .profile-page .profile-sub-header .box-list ul li a:hover, .theme-blush .menu > ul > li > ul.normal-sub > li a:hover, .theme-blush .menu > ul > li > ul > li > ul > li a:hover {
    background-color: #dd5e89
}

.theme-blush .navbar-header {
    background: #263238
}

.theme-blush .navbar-brand {
    color: #fff;
    font-weight: 700
}

    .theme-blush .navbar-brand:hover, .theme-blush .navbar-brand:active, .theme-blush .navbar-brand:focus {
        color: #fff
    }

.theme-blush .navbar {
    background-color: #fff
}

.theme-blush .nav > li > a {
    color: #263238
}

    .theme-blush .nav > li > a:hover, .theme-blush .nav > li > a:focus {
        background-color: transparent
    }

.theme-blush .nav .open > a {
    background-color: transparent
}

    .theme-blush .nav .open > a:hover, .theme-blush .nav .open > a:focus {
        background-color: transparent
    }

.theme-blush .bars {
    color: #dd5e89
}

.theme-blush .sidebar .user-info {
    background: linear-gradient(45deg, #dd5e89, #f7bb97)
}

.theme-blush .sidebar .menu .list li.active {
    background-color: transparent
}

    .theme-blush .sidebar .menu .list li.active > :first-child i, .theme-blush .sidebar .menu .list li.active > :first-child span {
        color: #dd5e89
    }

.theme-blush .sidebar .menu .list .toggled, .theme-blush .sidebar .menu .list .ml-menu {
    background-color: #f6f6f6;
    border-left: 3px solid;
    border-bottom: none;
    border-top: none;
    border-color: #dd5e89
}

.theme-blush .inbox-widget .inbox-inner:hover .inbox-img img {
    border: 2px solid #dd5e89;
    transition: all 150ms linear
}

.theme-blush .nav-tabs .nav-link.active {
    border-bottom: 1px solid #dd5e89 !important;
    color: #dd5e89 !important;
    font-weight: 700
}

.theme-blush .blog-page .single-blog-post .img-holder .date-box {
    background-color: #dd5e89
}

.theme-blush .notify .heartbit {
    border-color: #dd5e89
}

.theme-blush .notify .point {
    background-color: #dd5e89
}

.theme-blush .authentication {
    background: url(../images/blush_loginbg.jpg) no-repeat center center fixed
}

    .theme-blush .authentication .card .header {
        background: linear-gradient(45deg, #dd5e89, #f7bb97)
    }
