﻿@using Microsoft.AspNetCore.Http;
@{
    Layout = null;
}

<!DOCTYPE html>

<html class="no-js " lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">

    <title>@ViewData["Title"] - PracticeMVC</title>
    <environment include="Development">
        <!-- Main Css-->
        <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.css" />

        <!-- Custom Css -->
        <link rel="stylesheet" href="~/assets/css/main.css">
        <link rel="stylesheet" href="~/assets/css/color_skins.css">
        <link href="~/assets/plugins/animate-css/animate.css" rel="stylesheet" />
        <link href="~/assets/css/jquery.toast.min.css" rel="stylesheet" />

        @RenderSection("css", required: false)
    </environment>
</head>
<body class="theme-black animated fadeIn">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <p>Please wait...</p>
        </div>
    </div>

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div><!-- Search  -->
    <div class="search-bar">
        <div class="search-icon"> <i class="material-icons">search</i> </div>
        <input type="text" placeholder="Explore Nexa...">
        <div class="close-search"> <i class="material-icons">close</i> </div>
    </div>

    <!-- Top Bar -->
    <nav class="navbar">
        <div class="col-12">

            <div class="navbar-header">
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="index.html">Sample Application</a>
            </div>

            <ul class="nav navbar-nav navbar-left">
                <li><a href="javascript:void(0);" class="ls-toggle-btn" data-close="true"><i class="zmdi zmdi-swap"></i></a></li>
                <li class="dropdown menu-app hidden-sm-down">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"> <i class="zmdi zmdi-apps"></i> </a>
                    <ul class="dropdown-menu slideDown">
                        <li class="body">
                            <ul class="menu">
                                <li><a href="blog-dashboard.html"><i class="zmdi zmdi-blogger"></i><span>Blog</span></a></li>
                                <li><a href="contact.html"><i class="zmdi zmdi-accounts-list"></i><span>Contacts</span></a></li>
                                <li><a href="chat.html"><i class="zmdi zmdi-comment-text"></i><span>Chat</span></a></li>
                                <li><a href="javascript:void(0)"><i class="zmdi zmdi-arrows"></i><span>Notes</span></a></li>
                                <li><a href="javascript:void(0)"><i class="zmdi zmdi-view-column"></i><span>Taskboard</span></a></li>
                                <li><a href="events.html"><i class="zmdi zmdi-calendar-note"></i><span>Calendar</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="zmdi zmdi-search"></i></a></li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <i class="zmdi zmdi-notifications"></i>
                        <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
                    </a>
                    <ul class="dropdown-menu slideDown">
                        <li class="header">NOTIFICATIONS</li>
                        <li class="body">
                            <ul class="menu list-unstyled">
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="icon-circle l-coral"> <i class="material-icons">person_add</i> </div>
                                        <div class="menu-info">
                                            <h4>12 new members joined</h4>
                                            <p> <i class="material-icons">access_time</i> 14 mins ago </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="icon-circle l-turquoise"> <i class="material-icons">add_shopping_cart</i> </div>
                                        <div class="menu-info">
                                            <h4>4 sales made</h4>
                                            <p> <i class="material-icons">access_time</i> 22 mins ago </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="icon-circle g-bg-cyan"> <i class="material-icons">delete_forever</i> </div>
                                        <div class="menu-info">
                                            <h4><b>Nancy Doe</b> deleted account</h4>
                                            <p> <i class="material-icons">access_time</i> 3 hours ago </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="icon-circle g-bg-blue"> <i class="material-icons">mode_edit</i> </div>
                                        <div class="menu-info">
                                            <h4><b>Nancy</b> changed name</h4>
                                            <p> <i class="material-icons">access_time</i> 2 hours ago </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="icon-circle l-slategray"> <i class="material-icons">comment</i> </div>
                                        <div class="menu-info">
                                            <h4><b>John</b> commented your post</h4>
                                            <p> <i class="material-icons">access_time</i> 4 hours ago </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="icon-circle l-seagreen"> <i class="material-icons">cached</i> </div>
                                        <div class="menu-info">
                                            <h4><b>John</b> updated status</h4>
                                            <p> <i class="material-icons">access_time</i> 3 hours ago </p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="icon-circle l-blue"> <i class="material-icons">settings</i> </div>
                                        <div class="menu-info">
                                            <h4>Settings updated</h4>
                                            <p> <i class="material-icons">access_time</i> Yesterday </p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer"> <a href="javascript:void(0);">View All Notifications</a> </li>
                    </ul>
                </li>
                <li><a class="mega-menu" data-close="true" asp-controller="Home" asp-action="Logout"><i class="zmdi zmdi-power"></i></a></li>
            </ul>
        </div>
    </nav>

    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info">
            <div class="image">
                <img src="~/assets/images/xs/avatar1.jpg" width="48" height="48" alt="User" />
            </div>
            <div class="info-container">
                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button" id="UserName"></div>
                <div class="email" id="UserEmail"></div>
                <div class="btn-group user-helper-dropdown">
                    <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="button"> keyboard_arrow_down </i>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="profile.html"><i class="material-icons">person</i>Profile</a></li>
                        <li class="divider"></li>
                        <li><a asp-controller="Home" asp-action="Logout"><i class="material-icons">input</i>Sign Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <ul id="MainNav" class="list">
                <li class="header">MAIN NAVIGATION</li>
                <li class="active"> <a href="changelogs.html"><i class="zmdi zmdi-home"></i><span>Home</span> </a> </li>
                <li> <a href="changelogs.html"><i class="zmdi zmdi-time-restore"></i><span>About</span> </a> </li>
                <li>
                    <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-trending-down"></i><span>Multi Level Menu</span> </a>
                    <ul class="ml-menu">
                        <li> <a href="javascript:void(0);"> <span>Menu Item</span> </a> </li>
                        <li> <a href="javascript:void(0);"> <span>Menu Item - 2</span> </a> </li>
                        <li>
                            <a href="javascript:void(0);" class="menu-toggle"> <span>Level - 2</span> </a>
                            <ul class="ml-menu">
                                <li> <a href="javascript:void(0);"> <span>Menu Item</span> </a> </li>
                                <li>
                                    <a href="javascript:void(0);" class="menu-toggle"> <span>Level - 3</span> </a>
                                    <ul class="ml-menu">
                                        <li> <a href="javascript:void(0);"> <span>Level - 4</span> </a> </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li> <a href="changelogs.html"><i class="zmdi zmdi-time-restore"></i><span>Changelogs</span> </a> </li>
            </ul>
        </div>
        <!-- #Menu -->
    </aside>


    <section class="content">
        @RenderBody()
    </section>


    <environment include="Development">
        <!-- Jquery Core Js -->
        <script src="~/assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
        <script src="~/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
        <script src="~/assets/bundles/jquery.toast.min.js"></script>
        <script src="~/assets/bundles/mainscripts.bundle.js"></script>
        <script src="~/assets/js/jquerysession.js"></script>
        <script src="~/assets/js/DevScripts/MasterPageScripts.js"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>